p{
    font-family: Arial, Helvetica, sans-serif;
     margin-top: 0%;
     margin-bottom: 0%;
 }
 body{
    margin: 0%;
    padding-top:80px ;
    padding-bottom: 1000px;
    padding-left:110px ;
    padding-right: 30px;
    background-color: rgb(248, 248, 248);
 }