.header{
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    right: 0;
    z-index: 100;
    left: 0;
    top: 0;
    height: 50px;
    border-bottom-width:1px ;
    border-bottom-style:solid ;
    border-bottom-color:rgb(195, 194, 194) ;
}
.left-section{
   
    width: 200px;
    display: flex;
    align-items: center;
}
.hamburger-menu{
 height: 24px;
 margin-left: 30px;
 margin-right: 30px;
}
.youtube-logo{
    height: 24px;
}
.middle-section{
   display: flex;
    flex: 1;
    align-items: center;
   margin-left:50px ;
   margin-right: 30px;
   max-width: 500px;
}
.search-tool,.voice-searchbutton,
.upload-icon-container
,.youtube-apps-container,
.notification-icon
,.youtube-id-container
{
    position:relative ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-tool .tooltip,.voice-searchbutton .tooltip,
.upload-icon-container .tooltip,.youtube-apps-container .tooltip
    ,.notification-icon .tooltip
    ,.youtube-id-container .tooltip{
    position: absolute;
    font-size: 14px;
    background-color: grey;
    color: white;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 4px;
    bottom: -36px;
opacity: 0;
transition: opacity 0.25s;
pointer-events: none;
white-space: nowrap;

}
.search-tool:hover .tooltip
,.voice-searchbutton:hover .tooltip
  ,.upload-icon-container:hover .tooltip
  ,.youtube-apps-container:hover .tooltip
  ,.notification-icon:hover .tooltip
  ,.youtube-id-container:hover .tooltip
{
    opacity: 1;
}

.Search-bar{
    flex: 1;
    height: 36px;
   font-size: 16px;
   padding-left: 10px;
   width: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 1px 2px 5px rgba(0,0,0, 0.05);
}
.Search-bar::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.Search-mic{
height: 34px;
width: 56px;
margin-left: -1px;
background-color: aliceblue;
border-width: 1px;
background-attachment: rgb(238, 238, 238); ;
}
.voice-searchbutton{
    margin-left: 25px;
    border-radius: 50%;
    border: none;
}
.voice-search{
    height: 30px;
    border: none;
   
   
}
.right-section{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.notification-icon{
    position: relative;
}
.notification-count{
    position: absolute;
    top: -3px;
    right: -4px;
    background-color: rgb(225, 10, 10);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:2px ;
    font-size: 14px;
    padding-bottom: 2px;
    border-radius: 35px;
}
.upload{
    height: 30px;
}
.youtube-apps{
    height: 30px;
    margin-left: 12px;
}
.notifications{
    height: 30px;  
    margin-left: 12px;
}
.youtube-id{
    height: 40px;  
    border: none;
    border-radius: 50%;
    margin-left: 12px;
    margin-right: 20px;
}