 .videos{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 20px;
row-gap: 40px;
}
@media(max-width:800px){
  .videos{
  grid-template-columns: 1fr 1fr ;
  }
}
@media(min-width:1200px){
  .videos{
  grid-template-columns: 1fr 1fr  1fr 1fr;
  }
}
@media(max-width:1199px )and (min-width:801px){
  .videos{
  grid-template-columns: 1fr 1fr 1fr ;
  }
}
.video-description{
display: grid;
grid-template-columns: 50px 1fr ;
}
     .video-img{
         width: 100%
     }
   .video-bar{
    position: relative;
    margin: 0;

   }

   .hover-id{
    display: inline-block;
    width: 40px;
    padding-top:8px ;
    border-radius: 60px;
    padding-left: 12px;
   
   }
   .hover-text{
    display: inline-block;
    color: white;
    padding-left:8px ;
    margin: 0;
   }
   .p11{
    display: flex;
    padding-bottom: 40pxpx;
   
   }
   .hover{
   width: 250px;
    margin: 0;
   height: 55px;
   
   }
   .video-time{
    position: absolute;
    right: 5px;
    font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    bottom: 8px;
    font-style: solid;
    font-weight: 500;
    background-color: black;
    color: white;
   }
     .channel-id{
         width: 50px; 
         border: none;
         border-radius :50%;
      
      
     }
     .video-text{
        margin: 0px;
       margin-left: 10px;
     }
   
    
     .video-title{
         margin-top: 0;
         font-size: 18px;
         font-weight: 500;
         line-height: 20px;
         margin-bottom: 10pxpx;
     }
.video-makername{
font-size: 14px;
margin-top: 6px;
margin-bottom: 4px;
}
.video-viwes{
font-size: 14px;
}